/**
 * Green Theme
 */
.apiarium__blue {
  background-image: url(../images/backgrounds/blue-background.jpg);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-color: #C4F2FF;
  padding: 1vh 1vw;
}

.apiarium__blue * {
  color: white;
}

.apiarium__blue .apiarium__flex:not(.apiarium__no-border) {
  background-color: rgba(5, 107, 136, 0.5);
  border: #F1F1F1 1px solid;
  box-shadow: 2px 2px 5px black;
  margin: 0.5vh 0.5vw 1.5vh 0;
  padding: 1.5vh 1.5vw;
}

.apiarium__blue .apiarium__calendar__date__icon {
  border: #EBD846 2px solid;
}

.apiarium__blue .apiarium__calendar__date__icon__month {
  background-color: rgba(80, 156, 184, .8);
}
