/**
 * Green Theme
 */
.apiarium__green {
  background-color: #DCFFB3;
  padding: 1vh 1vw;
}

.apiarium__green * {
  color: white;
}

.apiarium__green .apiarium__flex:not(.apiarium__no-border) {
  background-color: #568e14;
  border: #FFB310 5px solid;
  box-shadow: 2px 2px 5px black;
  margin: 0.5vh 0.5vw 0;
  padding: 0.5vh 0.5vw;
}