/*
 * Apiarium Styles
 */

.apiarium__row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-right: -25px;
}

.apiarium__column {
  flex: 1;
  flex-direction: column;
  padding-right: 25px;
}

.apiarium__newspaper__image {
  margin: 25px 25px 0 0;
  width: 25%;
}
